<h1>{{ title }}</h1>
<ul>
  <ng-container *ngFor="let shop of shops; let i = index" [ngSwitch]="shop.close">
    <!-- <li *ngIf="shop.active">{{shop.name}}</li> -->
    <li [ngStyle]="{color: shop.active ? 'black' : 'gray'}" [ngClass]="{even: (i + 1) % 2 !== 0}">
      {{shop.name}} -
      <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy cercano</span>
      <span *ngSwitchCase="2" [ngStyle]="{color: 'blue'}">Cercano</span>
      <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
    </li>
  </ng-container>
</ul>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]=14>
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>